/* detail page 공통 CSS 파일  */
:root {
    --text-color: #eee;
    --text-color-light: #bbb;
    --accent-color: rgb(220, 86, 75);
    --primary-color: rgb(247, 196, 55);
    --bg-color: #111;
    --max-width: 64rem;
    --border-dark: 1px solid var(--primary-color);
    --border-light: 1px solid rgba(247, 196, 55, 0.3);
    --font-bold: 700;
    --font-regular: 400;
    --font-thin: 100;
    --font-xl: 2rem;
    --font-lg: 1.5rem;
    --font-md: 1.25rem;
    --font-sm: 1rem;
    --font-xm: 0.8rem;
    --animation-main: all 0.2s ease-in-out;
}

.container {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.main {
    /* box-sizing: border-box; */
    width: 100vw;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 5rem;
}

.main .img {
    border: var(--border-dark);
    border-radius: 100%;
    padding : 1rem;
}

.table {
    border: var(--border-light);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 20rem;

    display: flex;
    flex-direction: column;
}

.table .tr  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem;
}

.table .tr:not(.last) {
    border-bottom: var(--border-light);
}



.name {
    font-size: var(--font-xl);
}

.title {
    font-size: var(--font-sm)
}

.content {
    font-size: var(--font-sm)
}